@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
  @import "alert";
}

@layer utilities {
  @import "utilities";
}

* {
  font-family: "Rubik", sans-serif, "Suwannaphum", serif !important;
  font-weight: 400;
  font-style: normal;
}